[submodule "libs/Simple-Tiled-Implementation"]
	path = libs/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "libs/flux"]
	path = libs/flux
	url = https://github.com/rxi/flux
